*, *:before, *:after {box-sizing: border-box;}
ul, ol {margin: 0; padding: 0;}
li {list-style: none; line-height: 1.6rem;}

/* List styling */
.jslists{
	font-size: 1.3rem;
	font-family: Arial, Helvetica, sans-serif;
}
/* .jslist-ul, .jslist-ol, .jslist-li {margin-left: 12px;}		Unordered lists */
.jsl-collapsed {display: none;}
.jsl-list-closed {
	float: left;
	clear: both;
	margin: 2px 4px 2px 0px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="far" data-icon="plus-square" class="svg-inline--fa fa-plus-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M352 240v32c0 6.6-5.4 12-12 12h-88v88c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-88h-88c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h88v-88c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v88h88c6.6 0 12 5.4 12 12zm96-160v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center; 
}
.jsl-open {display: block;}
.jsl-list-open {background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="far" data-icon="minus-square" class="svg-inline--fa fa-minus-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M108 284c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h232c6.6 0 12 5.4 12 12v32c0 6.6-5.4 12-12 12H108zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg>');}
#simple_list li{margin-left: 2px;cursor: pointer;}
.list-data-tree-material li,
.list-data-tree-band li{cursor: pointer;}
#simple_list li li{margin-left: 10px;}
#simple_list li li li{margin-left: 20px;}