.fwn{font-weight: normal;}
.fwb{font-weight: bold;}
.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.tdn{text-decoration: none;}
.lsn{list-style: none;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}
.mt70{margin-top: 70px;}
.mt80{margin-top: 80px;}
.mt90{margin-top: 90px;}
.mt100{margin-top: 100px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb60{margin-bottom: 60px;}
.mb70{margin-bottom: 70px;}
.mb80{margin-bottom: 80px;}
.mb90{margin-bottom: 90px;}
.mb100{margin-bottom: 100px;}

.pr10{padding-right: 10px;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pt60{padding-top: 60px;}
.pt70{padding-top: 70px;}
.pt80{padding-top: 80px;}
.pt90{padding-top: 90px;}
.pt100{padding-top: 100px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb60{padding-bottom: 60px;}
.pb70{padding-bottom: 70px;}
.pb80{padding-bottom: 80px;}
.pb90{padding-bottom: 90px;}
.pb100{padding-bottom: 100px;}

.w50{width: 50%;}
.w100{width: 100%;}
.h100{height: 100%;}

.dibl{display: inline-block;}
.difl{display: flex;}

.grayunderline{border-bottom: 1px solid #555;}

.empty-space-50{min-height: 50px;}
.empty-space-100{min-height: 100px;}

.vertical-correct{min-height: 100px;}

.link{color: #28a745;}
.link:hover{color: #218838;text-decoration: none;}
.darkgray{color: #555;}
.gray{color: #777;}
.red{color: red;}
.green{color: green}
.activegreen{font-weight: bold;color: #28a745;cursor: pointer;}
.yellow{color: yellow}
.bg-red{background: red;}
.bg-green{background: green;}
.bg-gray{background: gray;}
.bg-light-red{background: #ffbfbf;}
.bg-light-green{background: #bfffbf;}
.bg-light-gray{background: lightgray;}

.my-cut-angle-t,.my-cut-angle-b{margin: 0 auto;}
.my-cut-angle-l{float:left; }
.my-cut-angle-r{float:right; }
.my-cut-angle-t,.my-cut-angle-b, .my-cut-angle-l,
.my-cut-angle-r{padding: 2px;height: 25px;width:50px;}
.my-cut-angle-box{float: right; width:120px;}
.my-cut-angle-box label{float: left; width:100%;}
.xnc_bands{float: left; width: 350px;}
.xnc_bands label{float: left; width: 55px;}
.xnc_bands select{float: left; width: 290px;}
.stitching_bands{float: left;
    width: 100%;
    border-bottom: gray 1px dotted;
    margin-bottom: 2px;;}
.stitching_bands label{float: left; width: 55px;}
.stitching_bands select{float: left; width: 290px;}



.selected-check{
    border: 1px solid green;
    border-radius: 10px;
    padding-right: 5px;
    margin: 2px 5px;
    display: inline-block;
}
.close-sel {
    position: relative;
    cursor: pointer;
    color: red;
    transform: rotate(-45deg);
    margin: 0 2px 0 10px;
}
.data-list-line{
    cursor: pointer;
}
.popover-body span{ color: green; }
.zoom-images{ min-width: 110px; margin: 2px;display: inline-block;
    text-align: center;}
.zoom-images i{
    background-image: url(../zoom.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    display: none;
    position: absolute;
    height: 100px;
    opacity: 0.4;
}
.zoom-images:hover i{display: inline;}

.modal {
    max-height: 95vh;
    overflow-y: scroll;
}
.data-list-line {
    cursor: pointer;
    font-size: 13px;
    margin: 9px;
}
.accordion>.card>.card-header {
    padding: 5px;
}
.zarez_ugla_container > i.fas {
    visibility: hidden;
    position: absolute;
    right: 0;
}
.zarez_ugla_container:hover > i.fas {
    visibility: visible;
}
.zarez_ugla_container {
    position: relative;
}
.add_sshivka_container i.fas {
    visibility: hidden;
}
.add_sshivka_container:hover i.fas {
    visibility: visible;
}
.srez_okryglenia_containers i.fas {
    visibility: hidden;
}
#one-side-cut:hover i.fas {
    visibility: visible;
}
#cut-on-both-sides:hover i.fas {
    visibility: visible;
}
.AC{text-align: center;}
.mnpn{margin: 0;padding: 0;}
.MA{margin-left: auto;margin-right: auto;}
.FLL{float: left;}
.FLR{float: right;}
.MTAMB{margin-top: 20px;margin-bottom: 40px;}
.table-container{margin-bottom: 100px;}
.table-container .row{margin-right: -5px;margin-left: -5px;}
.table-container .col, .table-container .col-1, .table-container .col-10, .table-container .col-11, .table-container .col-12, .table-container .col-2, .table-container .col-3, .table-container .col-4, .table-container .col-5, .table-container .col-6, .table-container .col-7, .table-container .col-8, .table-container .col-9, .table-container .col-auto, .table-container .col-lg, .table-container .col-lg-1, .table-container .col-lg-10, .table-container .col-lg-11, .table-container .col-lg-12, .table-container .col-lg-2, .table-container .col-lg-3, .table-container .col-lg-4, .table-container .col-lg-5, .table-container .col-lg-6, .table-container .col-lg-7, .table-container .col-lg-8, .table-container .col-lg-9, .table-container .col-lg-auto, .table-container .col-md, .table-container .col-md-1, .table-container .col-md-10, .table-container .col-md-11, .table-container .col-md-12, .table-container .col-md-2, .table-container .col-md-3, .table-container .col-md-4, .table-container .col-md-5, .table-container .col-md-6, .table-container .col-md-7, .table-container .col-md-8, .table-container .col-md-9, .table-container .col-md-auto, .table-container .col-sm, .table-container .col-sm-1, .table-container .col-sm-10, .table-container .col-sm-11, .table-container .col-sm-12, .table-container .col-sm-2, .table-container .col-sm-3, .table-container .col-sm-4, .table-container .col-sm-5, .table-container .col-sm-6, .table-container .col-sm-7, .table-container .col-sm-8, .table-container .col-sm-9, .table-container .col-sm-auto, .table-container .col-xl, .table-container .col-xl-1, .table-container .col-xl-10, .table-container .col-xl-11, .table-container .col-xl-12, .table-container .col-xl-2, .table-container .col-xl-3, .table-container .col-xl-4, .table-container .col-xl-5, .table-container .col-xl-6, .table-container .col-xl-7, .table-container .col-xl-8, .table-container .col-xl-9, .table-container .col-xl-auto{padding-right: 5px;padding-left: 5px;}
.header-container span{font-size: 1.3rem;color: #666;}
.RS-table{margin: 10px auto 20px;}
.RS-table .one-line{border: 1px solid #444;border-bottom: unset;background: #efefef}
.RS-table .one-line:last-child{border-bottom: 1px solid #444;}
.col-left{border-right: 1px solid #444;overflow-wrap: anywhere;}
.bdt{border-top: 1px solid #444;}
.w50{width: 50%;}
.h100{height: 100%;}
.one-line .col:last-child{border-right: none;}
.one-line .col p{margin: 0;}
/*.table-container .col p{}*/
/*.table-container{padding-left: 10px;padding-right: 10px;margin: auto;}*/
.table-container h5 span, .table-container h6 span, .table-container p span{color: #777;}
.table-container .pdud{padding: 3px 0;}
.table-container .dscr{font-size: 1rem;}
.table-container .prop{font-size: 0.9rem;}
.rs-detail-image{max-width: 126px;height: auto;}
.center_text{text-align: center;}
.bd{font-weight: bold;}