table{
    width: 100%;
}
th, td{
    padding: 5px;
}
th{
    padding: 10px 5px;
}
.text-center{text-align: center;}
.text-right{text-align: right;}
.total, .subtotal{text-align: right; font-style: italic;font-size: 18px; font-weight: bold;}
.subtotal{font-size: 20px;}