
.loading-search{
    position: absolute;
    right: 22px;
    top: 35px;
    display: none;
}
.searchOnCode-box{padding: 10px;display: none;position: absolute;
    width: 100%;
    z-index: 10;}
.searchOnCode-box li{ cursor: pointer; }

.cell-erase-tr, .erase-tr{
    border: 1px solid red;
    border-radius: 10px;
    padding-right: 5px;
    margin: 35px 5px 0 5px;
    display: inline-block;
    cursor: pointer;
}
.cell-erase-tr{
    margin: 5px 5px 0 5px;
}
.close-sel {
    position: relative;
    cursor: pointer;
    color: red;
    transform: rotate(-45deg);
    margin: 0 2px 0 10px;
}
.wrf-cnt{
    display: flex;
    width: 200px;
    height: 100px;
}
.wrf-in{

    flex: 1 1 0;
}
.wrf-in textarea{    width: 150px;
    height: 74px;
}
.label-required:after {
    content:"*";color:red;
}
#set_pin_code {
    display: none;
}
.confirm_filters_button {
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;
}
.edit_link_variant {
    display: none;
    position: absolute;
    left: -130px;
    top: 37px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 14px!important;
    width: 214px;
    background: white;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 9px;
    text-align: left;
    z-index: 9999;
}
.edit_link_variant.open {
    display: flex;
}
.edit_link_variant a {
    font-size: 14px!important;
    text-align: left!important;
    font-weight: normal!important;
    padding: 5px 0!important;
}
.table_actions_container {
    display: flex;
}
#client_name_variants {
    background: blanchedalmond;
    padding: 9px;
    border-radius: 4px;
    border: 1px solid gray;
}
#client_name_variants > div {
    cursor: pointer;
}
