.nav-tabs a.active {
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}


.fa-plus-square:hover {
    color: #28a7457a !important;
}

.btn-save-order {
    border: none;
    padding: 0;
    outline: none;
    background: none;
}
.fa-save:hover {
    color: #007bff5e !important;
}

.fa-download:hover {
    color: #ffc1075e !important;
}

.fa-dolly-flatbed:hover {
    color: #ff00006b !important;
}

#start_checks_lodaer_containers {
    display: block;
}

.overflow {
    display:block;
    height:auto;
    overflow-y:auto;
}

.overflow-hidden {
    overflow: hidden;
}

#draw {
    height: auto;
    overflow: hidden;
}

.right-panel {
    border-left: 1px solid #dee2e6;
}
.loaderImages {
    transition: 2s;
}
.hidden {
    display: none !important;
}
.photo-gallery {
    max-width: 850px;
    max-height: 600px;
}
.img-current-part {
    width: 100%;
    /*-moz-transform: rotate(90deg); !* Для Firefox *!*/
    /*-ms-transform: rotate(90deg); !* Для IE *!*/
    /*-webkit-transform: rotate(90deg); !* Для Safari, Chrome, iOS *!*/
    /*-o-transform: rotate(90deg); !* Для Opera *!*/
    /*transform: rotate(90deg);*/
}
