.red{color: red;}
.main_bottom_container .green_button{
    background-color: #28a745;
    border: 1px solid #28a745;
}
.bold{font-weight: bold;}
.showEl{display: block!important;}
.hideEl{display: none!important;}
.auth_form_container {
    background: white;
    padding: 30px;
    position: absolute;
    top: 15%;
    left: calc(50% - 87px);
    display: none;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgray;
    border-radius: 15px;
}
.auth_form_container.open {
    display: flex;
}
.auth_form_container .form_group {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.auth_form_container .close_button {
    position: absolute;
    right: 9px;
    top: 9px;
    padding: 0;
    background: tomato;
    border-radius: 50%;
    color: white;
    width: 19px;
    height: 19px;
    text-align: center;
}
.auth_form_container .close_button a {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
}
.auth_form_container form {
    position: relative;
}
.table_auth_container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}
.logout_form {
    margin: 0 10px;
}
.comment_container {
    position: absolute;
    bottom: 50px;
    padding: 9px;
    background: white;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgrey;
    border-radius: 10px;
    display: none;
}
.comment_container textarea {
    border-color: lightgray;
}
.comment_container form button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
    padding: 5px;
    text-decoration: none;
    margin-top: 14px;
}
.comment_container.open {
    display: block;
}
.bottom_middle_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
#set_comment {
    margin: 0 10px;
}
.checks_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 99999999999999999999;
}
#checks_container {
    padding: 45px;
    border: 1px solid black;
    background: white;
    width: 85%;
    margin: 45px auto;
    text-align: left;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}
.form_buttons_container, .form_buttons_container form {
    display: flex!important;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
}
.form_buttons_container #bottom_container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#bottom_container {
    margin: 0 9px;
}
.clear_project_button {
    padding: 0;
}
.clear_project_button a {
    padding: 5px;
    text-align: center;
    color: black;
}
#extra_buttons_container {
    display: none;
    margin: 0 9px;
    text-align: center;
    opacity: 1;
}
.comment_container > form {
    display: block!important;
}
#checks_lodaer_containers {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.4);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999999999;
}
#checks_lodaer_containers > div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    height: 100%;
}
#user_upload_form {
    position: absolute;
    bottom: 40px;
    display: none;
    text-align: center;
    padding: 9px;
    background: lightgray;
    margin-left: 87px;
    padding: 15px;
    background: #eae9e9;
    margin-left: 87px;
    width: 371px
}
#user_upload_form.open {
    display: block!important;
}
#user_upload_viyar_form {
    position: absolute;
    bottom: 40px;
    display: none;
    text-align: center;
    padding: 9px;
    background: lightgray;
    margin-left: 87px;
    padding: 15px;
    background: #eae9e9;
    margin-left: 87px;
    width: 371px
}
#user_upload_viyar_form.open {
    display: block!important;
}


#mpr_import_form {
    position: absolute;
    bottom: 40px;
    display: none;
    text-align: center;
    padding: 15px;
    background: #eae9e9;
    margin-left: 87px;
    width: 371px;
}
#mpr_import_form.open {
    display: block!important;
}
#mpr_import_form_close {
    background: tomato;
}

#mpr_import_form form button {
    margin-top: 34px;
}
.mpr_error_container {
    position: absolute;
    background: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.mpt_error_inner {
    width: 400px;
    height: 150px;
    background: lightgray;
    padding: 45px;
    border: 1px solid;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#user_upload_form_close {
    position: absolute;
    top: 0;
    right: 0;
}
#user_upload_form {
    text-align: left;
}
#user_upload_form p {
    padding-bottom: 10px;
    margin-bottom: 0;
    text-align: left;
}
#user_upload_form form button {
    margin-top: 34px;
}


#user_upload_form_close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 11px;
    font-size: 10px;
    background: tomato;
}
#mpr_import_form_close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 11px;
    font-size: 10px;
}
#mpr_import_form {
    text-align: left;
}
#mpr_import_form p {
    padding: 10px 0;
    margin-top: 0px;
    padding-top: 0;
}

#new_checks_container .inner {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.4);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#saveTime {
    display: none!important;
}
.bottom_buttons_line button {
    margin: 0 5px;
}
#saveBtn {
    display: none!important;
}


#user_full_pdf_window {
    position: absolute;
    bottom: 40px;
    display: none;
    text-align: center;
    padding: 9px;
    background: lightgray;
    margin-left: 87px;
    padding-top: 45px;
}
#user_full_pdf_window.open {
    display: block!important;
}
#user_full_pdf_window_close {
    position: absolute;
    top: 0;
    right: 0;
}
/*#mpr_import_button {*/
    /*display: none;*/
/*}*/
/* Стили меню (три точки)  */
.options-list{
    display: flex;
    width: auto;
    max-height: 400px;
    justify-content: space-between;
    overflow: auto;
    margin: 0 15px;
    scrollbar-width: thin;
}
.options-list::-webkit-scrollbar{
    width:9px;
}
.options-list::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
.options-list::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
.options-list::-webkit-scrollbar-track{
    border-width:0;
}
.options-list::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
.main_bottom_container {
    display: none;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    background: white;
    bottom: 60px;
    width: 280px;
    padding: 15px;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgrey;
    border-radius: 10px;
    z-index: 10;
}
.main_bottom_container.open {
    display: flex;
}
#main_bottom_container_button {
    background: white;
    border: 1px solid lightgray;
    border-radius: 90px;
    width: 40px;
    height: 40px;
    padding: 0;
    box-shadow: 0 0 5px lightgrey;
    text-align: center;
    margin-left: 15px;
    outline: none;
    overflow: hidden;
    position: relative;
}
#main_bottom_container_button.active:before {
    content: '×';
    background: tomato;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 25px;
}
.main_bottom_container > div {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.main_bottom_container button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    margin: 4px;
}
.main_bottom_container button:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.main_bottom_container button a {
    color: #fff;
    text-decoration: none;
}
.main_bottom_container form {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
}
#extra_buttons_container .clear_project_button a {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: .375rem .75rem;
    text-decoration: none;
}
#extra_buttons_container button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
}

#extra_buttons_container .clear_project_button #extra_operations_button {
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
    padding: .375rem .75rem;
    text-decoration: none;

}
#extra_buttons_container .clear_project_button  #get_reciepe_button, #extra_buttons_container .clear_project_button #get_reciepe_button_RS{
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
    padding: .375rem .75rem;
    text-decoration: none;
}
.table_auth_container button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 4px;
    text-decoration: none;
}
#set_comment {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 3px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    margin: 4px;
}


#extra_buttons_container .clear_project_button #extra_operations_button:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
#extra_buttons_container .clear_project_button  #get_reciepe_button:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
#set_comment:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.auth_form_container form {
    display: none;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
}
.auth_form_container form.open {
    display: flex;
}
.auth_form_container button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
    color: #17a2b8;
    background-color: transparent;
    border: 1px solid #17a2b8;
    margin: 4px;
}
.auth_form_container button.active {
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
}
.auth_form_container form button {
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
}
.auth_toggle_container {
    margin-bottom: 45px;
}
.auth_form_container input {
    display: block;
    width: 100%;
    height: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
}
.auth_form_container .form_group {
    width: 100%;
}
.auth_form_container #message {
    margin-top: 16px;
}
#get_password_form {
    display: none;
}
#get_your_password {
    margin-bottom: 10px;
    display: inline-block;
    text-align: left;
    margin-top: 14px;
}
#message_password {
    margin-top: 14px;
}
#message_client {
    margin-top: 15px;
}
#get_con_material {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 15px;
    background: white;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgray;
    display: none;
    z-index: 99999;
    overflow: hidden;
    overflow-y: scroll;
    padding: 45px;
    box-sizing: border-box;
}
#get_con_material_close {
    background: tomato;
    height: 24px;
    width: 24px;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 7%;
    top: 7%;
}
.main_sheet_row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 34px;
}
.main_sheet_item {
    width: 40%;
    padding: 15px;
    box-sizing: border-box;

}
.main_sheet_extra {
    width: 56%;
    padding: 15px;
    box-sizing: border-box;
}
.main_sheet_extra > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid lightgray;
    padding: 9px;
    border-radius: 5px;
    margin-bottom: 9px;

}
.main_sheet_extra > div > .extra_large_image {
    display: none;
    position: absolute;
    bottom: -9px;
    right: calc(100% - 87px);
    padding: 5px;
    box-shadow: 0 0 9px lightgreen;
    border: 1px solid lightgray;
    background: white;
    border-radius: 5px;
}
.main_sheet_extra > div:hover > .extra_large_image {
    display: block;
}
.main_sheet_extra > div > img {
    display: block ;
    width: 75px;
    margin-right: 15px;
}
.main_sheet_extra > div:hover {
    box-shadow: 0 0 9px lightgreen;
}
.main_sheet_extra > div:hover > .extra_large_image > img {
    max-width: 300px;
}
.main_sheet_item > img {
    width: 40%;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.con_material_content {
    display: none;
}
.con_material_content.open {
    display: block;
}
.con_material_navigate button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 9px;
    font-size: 19px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
    margin: 4px;
    color: #17a2b8;
    background-color: transparent;
    border: 1px solid #17a2b8;
}
.con_material_navigate button.active {

    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
}
.con_material_input_button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
    padding: .375rem .75rem;
    text-decoration: none;
}
.auth_form_container .auth_toggle_container button {
    width: 100%;
}
#client_variants_container {
    position: absolute;
    bottom: 41px;
    right: 0px;
    background: #18a2b8;
    color: white;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    display: none;
}
#autorize_manager_open {
    margin-right: 15px;
    cursor: pointer;
}
#autorize_client_open{
    cursor: pointer;
}
.client_search_form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.client_search_form button {
    background: #17a2b8;
    text-align: center;
    display: none;
}
#get_client_material {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 15px;
    background: white;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgray;
    display: none;
    z-index: 99999;
    overflow: hidden;
    overflow-y: scroll;
    padding: 45px;
    box-sizing: border-box;
    font-family: Arial Unicode MS, Arial, sans-serif;
}
#get_client_material_close {
    background: tomato;
    height: 24px;
    width: 24px;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 7%;
    top: 7%;
}
.client_materials_filters form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.client_materials_filters .form-group label {
    font-weight: bold;
    padding-bottom: 4px;
    text-align: left;
}
.client_materials_filters .form-group {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
#client_material_checked_form > table {
    margin-top: 15px;
    border-collapse: collapse;
    margin-bottom: 9px;
    width: 100%;
}
#client_material_checked_form > table td {
    border: 1px solid gray;
    padding: 9px;
    text-align: center;
}
#client_material_checked_form > table td:nth-child(3) {
    text-align: left;
}
#client_material_checked_form > table th {
    border: 1px solid white;
    padding: 9px;
    text-align: center;
    background-color: #17a2b8;
    color: white;
    font-size: 14px;
}
#client_material_checked_form button {
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
    padding: .375rem .75rem;
    text-decoration: none;
    cursor: pointer;
    display: none;
}
#client_menu_button {
    background: none;
    color: black;
    border: 1px solid lightgray;
}
#client_menu_containers {
    display: none;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    background: white;
    bottom: 41px;
    width: 194px;
    padding: 15px;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgrey;
    border-radius: 10px;
    right: 0;
}
#client_menu_containers.open {
    display: flex;
}
#client_menu_containers button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    margin: 4px;
    width: 100%;
}
#client_menu_containers form {
    margin: 0;
    padding: 0;
    text-align: 0;
}
#client_menu_containers form button {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: .375rem .75rem;
    text-decoration: none;
}
#get_client_orders {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 15px;
    background: white;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgray;
    display: none;
    z-index: 99999;
    overflow: hidden;
    overflow-y: scroll;
    padding: 45px;
    box-sizing: border-box;
    font-family: Arial Unicode MS, Arial, sans-serif;
}
#get_client_orders_close {
    background: tomato;
    height: 24px;
    width: 24px;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 7%;
    top: 7%;
}
#get_client_orders svg {
    width: 30px;
    height: 31px;
    display: block;
    cursor: pointer;
}
#get_client_orders table tbody td:last-child div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#get_client_orders table {
    width: 100%;
}
#orders_inner_receipt {
    display: none;
}
#orders_inner_parts {
    display: none;
}




#get_client_orders table {
    margin-top: 15px;
    border-collapse: collapse;
    margin-bottom: 9px;
    width: 100%;
}
#get_client_orders table td {
    border: 1px solid gray;
    padding: 9px;
    text-align: left;
}
#get_client_orders table th {
    border: 1px solid white;
    padding: 9px;
    text-align: center;
    background-color: #17a2b8;
    color: white;
    font-size: 14px;
}
#get_client_orders table tbody td:last-child div button {
    background: none;
    border: none;
    box-shadow: none;

}
.con_material_input_button {
    display: none;
}
#client_send_pin_code_container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
#client_send_pin_code_container.open {
    display: flex;
}
.client_send_pin_code_inner {
    padding: 45px;
    background: white;
    border-radius: 15px;
}
#button_copy_buffer_clipboard {
    display: none;
}

#start_checks_lodaer_containers {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.4);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999999999;
}
#start_checks_lodaer_containers > div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    height: 100%;
}
#extra_buttons_container {
    display: block!important;
}
#orders_div_pagination button.active {
    background: #17a2b8;
}
.orders_filters {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.orders_filters label {
    padding-right: 15px;
}
#client_menu_containers form button.client_menu_button {
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
    padding: .375rem .75rem;
    text-decoration: none;
}
.main_bottom_container a.clear_project_button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    margin: 4px;
    text-decoration: none!important;
}
.main_bottom_container a.clear_project_button:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
#get_client_orders table tbody td:last-child div.client_orders_versions_variant {
    display: none;
    position: absolute;
    background: white;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 9px;
    width: 210px;
    left: -178px;
    top: 34px;
    z-index: 9999;
    border: 1px solid gray;
    border-radius: 4px;
}
#get_client_orders table tbody td:last-child div.client_orders_versions_variant.open {
    display: flex;
}
.client_orders_versions_container {
    position: relative;
}
#get_client_orders table tbody td:last-child div.client_orders_versions_variant > a {
    padding: 5px;
}
.bottom_version_control_menu_container {
    position: relative;
    margin-left: 45px;
}
.bottom_version_control_menu {
    display: none;
    flex-flow: column;
    justify-content: flex-start;
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 15px;
    width: 304px;
    bottom: 31px;
    border: 1px solid gray;
}
.bottom_version_control_menu.open {
    display: flex;
}
.bottom_version_control_menu a {
    padding: 8px 0;
}
#version_control_menu {
    background: none;
    color: black;
    border: 1px solid lightgray;
    padding: 4px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.handlers_request_button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    margin: 4px;
    width: 100%;
}

/* Стили импорта из Базис ("Кнопка" в меню с тремя точками) */
.example-2{max-width: 100%;margin: 4px;}
.example-2 .input-file + .js-labelFile{display: block;width: auto;font-weight: 400;text-align: center;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;padding: 0.375rem 0.75rem;font-size: 1rem;line-height: 1.5;border-radius: 0.25rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;color: #fff;background-color: #17a2b8;border: 1px solid #17a2b8;}
.example-2 .form-group{margin: 0;}
.example-2 .btn-tertiary{color:#555;padding:0;line-height:40px;width:300px;margin:auto;display:block;border:2px solid #555}
.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{color: #fff;background-color: #138496;border-color: #117a8b;}
.example-2 .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}

/* Стили всплывающего окна предупреждения о наличии раскроя*/
.user_sheet_cutting_block{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgb(163 162 162 / 77%);
    z-index: 10;
}
.popup-message-block{
    /*display: none;*/
    background: #eee;
    box-shadow: 0px 0px 5px #bbb;
    padding: 20px;
    border: 1px solid #999;
    width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -220px 0 0 -250px;
}
.popup-message-block-show{
    display: block;
    animation: showBlock 1s linear forwards;
}
@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.popup-message-block h4{
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.2rem;
    color: #ff4500;
}
.popup-message-block p{
    text-align: justify;
    margin-bottom: 90px;
    font-size: .9rem;
}
.message-button-block #user_sheet_cutting{
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    letter-spacing: .05rem;
    cursor: pointer;
}
.message-button-block #user_sheet_cutting:hover{
    background-color: #218838;
    border-color: #1e7e34;
}

/* Social networks */
body #wt-omni-widget.wt-omni-widget--position-right .wt-omni-widget-buttons-menu[data-v-56f48d36], #wt-omni-widget.wt-omni-widget--position-right .wt-omni-widget-window[data-v-56f48d36] {
    right: -27px;
}
body #wt-omni-widget.wt-omni-widget .wt-omni-widget-buttons-menu[data-v-56f48d36], #wt-omni-widget.wt-omni-widget .wt-omni-widget-window[data-v-56f48d36] {
    bottom: 26px;
}