.tac {
    text-align: center;
}
.loading-search{
    position: absolute;
    right: 22px;
    top: 35px;
    display: none;
}
.searchOnCode-box{padding: 10px;display: none;position: absolute;
    width: 100%;
    z-index: 10;}
.searchOnCode-box li{ cursor: pointer; }

.cell-erase-tr{
    margin: 5px 5px 0 5px;
}
.close-sel {
    position: relative;
    cursor: pointer;
    color: red;
    transform: rotate(-45deg);
    margin: 0 2px 0 10px;
}
.wrf-cnt{
    display: flex;
    width: 300px;
    height: 130px;
}
.wrf-in{

    flex: 1 1 0;
}
.wrf-in textarea{    width: 150px;
    height: 74px;
}
.label-required:after {
    content:"*";color:red;
}
#set_pin_code {
    display: none;
}
.confirm_filters_button {
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;
}
.edit_link_variant {
    display: none;
    position: absolute;
    left: -130px;
    top: 37px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 14px!important;
    width: 214px;
    background: white;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 9px;
    text-align: left;
    z-index: 9999;
}
.edit_link_variant.open {
    display: flex;
}
.edit_link_variant a {
    font-size: 14px!important;
    text-align: left!important;
    font-weight: normal!important;
    padding: 5px 0!important;
}
.table_actions_container {
    display: flex;
}
.table_actions_container a {
    font-size: 35px;
    padding: 0px 15px;
    text-align: center;
}
#start_checks_lodaer_containers {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.4);
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 999999999;
}
#start_checks_lodaer_containers > div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    height: 100%;
}
#start_checks_lodaer_containers > div > img {
    opacity: 1;
}
.container-setting-profile{
    max-height: 250px;
    overflow: auto;
}

/*//..*/
.RSButt{background: transparent;border: unset;color:#007bff;padding: 0;}
.RSButt:hover, .RSButt:focus, .RSButt:active{border: none!important;}
.RSButt:hover{color:#0056b3}
#client_variants {
    position: absolute;
    z-index: 99999;
    width: 400px;
}
#client_variants .list-group-item {
    position: relative;
    display: block;
    padding: 0.4rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    background: lightgray;
}
#client_variants_auth {
    position: absolute;
    z-index: 99999;
    width: 400px;
}
#client_variants_auth .list-group-item {
    position: relative;
    display: block;
    padding: 0.4rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    background: lightgray;
}
#myTab {
    width: 174px;
    float: right;
    margin-top: -10px;
}

/* 06.12.2022 Тоценко. Стили для строк прихода */
.add-lines {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px 0;
    margin-bottom: 1.5rem;
}
.add-lines .form-group {
    margin-bottom: 0.3rem;
}
.add-lines .times {
    width: 100%;
    height: 100%;
}
.add-lines .form-group label {
    margin-bottom: 0;
}
.add-lines .erase-tr {
    position: absolute;
    top: 39%;
    left: 35%;
    font-size: 2rem;
    cursor: pointer;
    color: #FF0000;
}
#crash_checkbox {
    padding: 0;
/*    width: 100%;*/
}

/* Модалка выбора идентификаторов материалов для списания */
#submitModalField {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(255 255 255 / 80%);
    display: none;
}
#submitModalField h2 {
    margin-bottom: 50px;
}
#submitModalField .fa-times-circle {
    position: absolute;
    right: 20px;
    top: 20px;
    color: red;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
#submitModalField .fa-times-circle:hover {
    color: #00b900;
}
.submitModal {
    position: relative;
    width: 70%;
    min-height: 100px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 4px 7px 30px #aaa;
}
#submitModalField .one-client-mat {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #aaa;
}
#submitModalField .one-client-mat:last-child {
    margin-bottom: 70px;
    border-bottom: none;
}
#submitModalField .one-client-mat .one-checkbox {
    display: flex;
}
#submitModalField .one-client-mat .one-checkbox p {
    margin-bottom: 5px;
    margin-left: 5px;
}
#submitModalField .one-client-mat input[type=checkbox],
#submitModalField .one-client-mat input[type=radio] {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 5px 0;
}
#submitModalField .addition-ids-data p {
    margin-bottom: 0;
}
#submitModalField #finallySubmit:disabled {
    cursor: default;
}