@font-face {
font-family: "code128";
src: url("../fonts/code128.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.main{
    width: 96mm;
    display: inline-block;
    page-break-before: always;
}
.code{

    position: relative;
    display: inline-block;
}
.code-d, .code-s{width: 100%; text-align: center;}
.code-d{font-size: 18px; float: left; margin-top: 2mm; margin-right: 2mm;}
.code-s{font-size: 48px;    font-family: "code128"; float: left}
.right{
    float: right;
    width: 75mm;
    /*  06.12.2022 Тоценко. верхний отступ заменён с 3mm на 0  */
    margin-top: 0;
}
.name{
    font-size: 16px; font-weight: bold;
    font-family: Arial;
}
.name .name-clnt{font-size: 18px;}
.size, .mcode{
    display: flex;font-size: 18px; font-weight: bolder;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.size-in, .mcode-in{
    margin:0;
    padding: 1mm;font-weight: bolder;
    flex: 0 1 auto;
}
.my-flex-cont {
    display: flex;
    /*  06.12.2022 Тоценко. верхний отступ заменён с 4mm на 0  */
    margin-top: 0;
    height: 28mm;
    float: left;
}
.my-flex-box {
    margin: 2mm;
    padding: 2mm;
    flex: 0 1 auto;
}
.my-flex-box:nth-child(2) {
    flex: 3 1 auto;
}
@media print {
    hr{display: none;}
}