/* Страница API-документации */
.collapseAccordion{margin-bottom: 50px;}
.collapseAccordion .accordion-item{padding: 1px;border: none;}
.collapseAccordion .accordion-header{padding: 0;background-color: rgba(0,0,0,.05);}
.collapseAccordion .accordion-header:hover{background-color: rgba(0,0,0,.13);transition: background .2s linear;}
.collapseAccordion .accordion-button{display: block;color: var(--bs-accordion-active-color);background-color: var(--bs-accordion-active-bg);font-size: .9rem}
.collapseAccordion .darker{background-color: rgba(0,0,0,.09);}
.collapseAccordion .accordion-item .accordion-collapse h5 {font-size: 1rem;}
.collapseAccordion .accordion-item .accordion-collapse small {font-size: .8rem;}
.collapseAccordion .accordion-item .accordion-collapse .list-item{border-bottom: 1px dotted #ccc;}
.collapseAccordion .accordion-item .accordion-collapse .list-item:first-child{border-top: 2px solid #ccc;}
.collapseAccordion .accordion-item .accordion-collapse .list-item:last-child{border-bottom: 2px solid #ccc;}
.collapseAccordion .accordion-item .accordion-collapse:last-child{margin-bottom: 50px;}
.collapseAccordion button{width: 100%;font-weight: bold;text-decoration: none;text-align: left;}
.collapseAccordion .btn-link:hover, .collapseAccordion .btn-link:focus{text-decoration: none;}
.collapseAccordion .btn-link:hover > .highlight-text{color: #e83f00;}
.collapseAccordion h5{margin-bottom: 0;margin-top: .5rem;}
.collapseAccordion p{margin: 0;}
.collapseAccordion span, .collapseAccordion pre{color: #555;}
.collapseAccordion span.highlight-text{color: orangered;}
.myaccount .pagination{padding-bottom: 100px;}

.accordion {
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;
}