/* Страница регистрации контрагента */
.client_registration_form {
    max-width: 700px;
    margin: 25px auto 45px;
}

.client_registration_form h5 {
    margin-top: 25px;
}

.client_registration_form [type="submit"] {
    width: 100%;
    margin-top: 50px;
}