/* Страница создания нового менеджера */
.create_manager_container{display: block; align-items: center; justify-content: center; height: 90%; margin-top: 70px;}
.create_manager_container .card{width: 350px;margin: 10px auto 20px;}
.create_manager_container input::-webkit-outer-spin-button,
.create_manager_container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.create_manager_container .messages{
    width: 350px;
    margin: 10px auto 20px;
    padding: 0 0.5rem 0;
    text-align: center;
}

.createManager .form-group {
    margin-top: 15px;
}

.createManager [type="submit"] {
    width: 100%;
}


/* Стили для автодополнения (стили для автодополнения пересекаются, но здесь конкретно для модалки) и модалки */
.ui-autocomplete li:nth-child(odd){background: #eee;}
.ui-widget.ui-widget-content{z-index: 1051;}
.container-filters input::-webkit-outer-spin-button, .container-filters input::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0;}
.form-group label{color: #555;font-weight: bold;}
.form-group select, .form-group select option, .form-group input::placeholder{color: #777;}
.form-group input{color: #333;}
#period-span, .checkoption{cursor: pointer;}
.checkoption{display: flex;}
.checkoption span{margin-left: 10px;}
.client-filter input[name="client_phone"]{display: none;}
.green-select, .checkoption span{color: #28a745;font-weight: bold;}
.green-select:hover, .checkoption span:hover{color: #208838;}