html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 50px;
}

.navbar {
  margin-bottom: 20px;
}

.main-content {
  margin-top: 100px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footer .footerline {
  height: 100%;
}
.footer .footerdomain {
  vertical-align: sub;
}

.footer .p-3 {
  padding: 0.5rem 1rem!important;
}

.footer .p-3 a{
  font-weight: bold;
}

.red {color: red;}
.green {color: green;}

.center-text {text-align: center;}

.admin-menu .list-group-item {
  padding: 0;
}

.admin-menu .list-group-item a {
  display: block;
  width: 100%;
  padding: 10px 20px;
}

.admin-menu .list-group-item a:hover {
  background-color: #eee;
  transition: background-color 0.3s ease;
}

.client-delete {
  text-shadow: 0 0 10px #ffffff;
}