.navbar {
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-menu.show {
  display: contents;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #002862;
  background: radial-gradient(circle, rgba(92,152,241,1) 41%, rgba(13,110,253,1) 96%, rgba(13,110,253,1) 100%);
}