.nav-tabs .nav-link {
    background: #f5f5f5;
    color: #999;
}

form {
    margin-bottom: 30px;
}

.deb_sticker{background: #eee;display: inline-table;width: 120px;min-height: 120px;border: 1px solid #ccc;margin: 0 5px 5px 0;padding: 3px;cursor: pointer;}
.deb_sticker:hover{background: #ddd;transition: background .2s linear;}
.deb_sticker p{font-size: 0.7rem;margin-bottom: 0;}
ul.debug-list li.debug-item{max-width: 370px;}
ul.debug-one-block{margin-bottom: 20px;}
ul.debug-list li.debug-item span{display: inline-block;}
ul.debug-list li.debug-item span.left-exp{}
ul.debug-list li.debug-item span.right-exp{margin-left: 15px;font-weight: bold;}
ul.debug-one-block li.tree-inner-items > div:first-child > span.left-exp{font-weight: bold;}
ul.debug-one-block li.tree-inner-items:hover{cursor: pointer;}
ul.debug-one-block li.tree-inner-items:hover > ul > li{cursor: default;}
ul.debug-one-block li.tree-inner-items ul{display: none;}