#unblockProject {
    display: block;
    width: 370px;
    margin: 50px auto 0;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.unblockProject h6 {
    text-align: center;
    margin-bottom: 30px;
}

.unblockProject input, .unblockProject button {
    display: block;
    width: 100%;
}

.unblockProject input {
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
}

.unblockProject input:focus-visible {
    outline: 0;
    outline-offset: 0;
    border: 1px solid #bbb;
}

.unblockProject button {
    margin-top: 30px;
}

.unblockProject .messages {
    margin-top: 30px;
    text-align: center;
}

.unblockProject p {
    font-size: 0.8rem;
    font-weight: bold;
}