.loading-search, .loading-search-on-text{
    position: absolute;
    right: 22px;
    top: 35px;
    display: none;
}
.filling .loading-search-on-text{
    top: 35px;
}
.searchProfile-box{padding: 10px;display: none;position: absolute;
    width: 100%;
    z-index: 10;}
.searchProfile-box li{ cursor: pointer; /* list-style: none;
    border: 1px solid gray;
    padding: 5px;
    background: white;*/}
.dovodchik .search-box{
    position: absolute;
}

.rs-doors {
    display: flex;
    align-content: center;
}
.rs-doors-sections {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

.disp-3-1 .col-6.disp-4 > div{
    min-height: 200px;
}

.browse-display{
    max-height: 75vh;
    overflow: scroll;
}
#start_checks_lodaer_containers {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.4);
    width: 100%;
    height: 100%;
    z-index: 999999999;
}
#start_checks_lodaer_containers > div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    height: 100%;
}
/*//..*/
.RSButt{background: transparent;border: unset;color:#007bff;padding: 0;}
.RSButt:hover, .RSButt:focus, .RSButt:active{border: none!important;}
.RSButt:hover{color:#0056b3}
#client_variants {
    position: absolute;
    z-index: 99999;
    width: 400px;
}
#client_variants .list-group-item {
    position: relative;
    display: block;
    padding: 0.4rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    background: lightgray;
}
#client_variants_auth {
    position: absolute;
    z-index: 99999;
    width: 400px;
}
#client_variants_auth .list-group-item {
    position: relative;
    display: block;
    padding: 0.4rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    background: lightgray;
}
#myTab {
    width: 174px;
    float: right;
    margin-top: -10px;
}