 ----START----- Global ----START----- */
h1 {
    padding-top: 15px;
}
.cursor_pointer {
    cursor: pointer;
}
img {
    max-width: 100%;
}
body {
    padding-bottom: 100px;
}
.fwb{font-weight: bold;}
/* ----END----- Global ----END----- */

/* //..07.01.2021 Стили прелоадера */
.preloader-box{display: none;position: absolute;z-index: 100;top: 0;left: 0;width: 100%;height: 100%;background: rgb(238 238 238 / 80%);}
.preloader{position: absolute;width: 171px;height: 171px;background-image: url(../preloader.gif);}
/* Стили прелоадера конец */

/* ----START----- Main index page ----START----- */
/*.tickets_row {
    margin-bottom: 45px;
}*/
.card-body .card-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.ticket_main_filters > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.tickets_row > .col-md-4 {
    margin-bottom: 45px;
}
.btn.nav-link.active:hover {
    color: blue;
}
.row_no_tickets {
    margin: 0 auto;
    padding: 45px;
    text-align: center;
}
/*//..1.12.2020*/
.ticket-header{display: flex;}
.count-tickets{font-size: 1.4rem;color: #777;padding-top: 29px;padding-left: 5px;}
.list-group-flush .list-group-item{min-height: 72px;padding: 0.3rem 1.25rem;}
.main_login_container .card{max-width: 350px;margin: auto;}
.tile-card{border: 3px solid rgba(0,0,0,.125);max-width: 350px;margin: 0 auto;}
.list-card .card-body{display: flex;}
.list-card{margin-bottom: 30px;border: 2px solid rgba(0,0,0,.125);}
.list-card:hover{background: #eee;}
.list-card .card-body .card-title{margin-bottom: 0;}
.list-card .card-body h5:last-child{margin-top: 3px;margin-left: 10px;}
.list-card .card-open-button{margin-right: -1px;padding: 0.86rem 1.25rem;}
.list-card .one-line{border: 1px dotted rgba(0,0,0,.125);}
.list-card .one-line .col-left{border-right: 1px dotted rgba(0,0,0,.125);}
.list-card .one-line .col-left p{font-weight: bold;}
.list-card .one-line p{margin-bottom: 0;}
.card .btn{width: 100%;}
.card .card-body:first-child{background: rgba(0,0,0,.125);}
.ticket-filters input::-webkit-outer-spin-button,
.ticket-filters input::-webkit-inner-spin-button {display: none;-webkit-appearance: none;margin: 0;
}
.ticket-filters button#clearfilters{width: 100%;margin-top: 23px;}
.extreme-page-item a{background: #007bff;color: #fff;}
.extreme-page-item a:hover{background: #0368d4;color: #fff;}
.first-page-item{margin-right: 7px;}
.last-page-item{margin-left: 7px;}
.this-page a{background: #c4e9ea;margin-top: -3px;padding: 11px 16px;cursor: default;color: #007bff;font-weight: bold;}
.this-page a:hover{background: #c4e9ea;color: #007bff;font-weight: bold;}
.menu-view-right{float: right;}
.menu-view ul li:hover{cursor: pointer;}
.menu-view ul li a i.active:hover{cursor: default;}
.menu-view ul li a{padding: 0;}
.menu-view ul li .fa{font-size: 1.4rem;padding: 7px;color: #007bff;}
.menu-view ul li a i.active{background: #c4e9ea;}

.nopadding{padding: 0;}
@media screen and (max-width: 575px) {
    .conf-1{display: block;}
}
/* ----END----- Main index page ----END----- */

/* ----START----- Ticket ----START----- */
/*.tickets_row {
    margin-bottom: 45px;
}*/
.card-body .card-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.ticket_item_messages_main_container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: calc(100vh - 251px);
}
.ticket_item_chat {
    height: 87%;
}
.ticket_item_input_area {
    height: 10%;
}
.ticket_item_chat {
    background: #f3f3f3;
    border: 1px solid gray;
    padding: 15px;
    overflow: hidden;
    overflow-y: scroll;
}
.ticket_item_chat_message_text {
    max-width: 70%;
}
.ticket_item_chat_message {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 45px;
}
.ticket_item_chat_message.left {
    align-items: flex-start;
}
.ticket_item_chat_message.right {
    align-items: flex-end;
}
.ticket_item_chat_message.right .ticket_item_chat_message_text {
    background-color: #8ef7a6;
    border-color: #8ef7a6;
    outline: #8ef7a6;
}
.ticket_item_chat_message > b {
    padding-bottom: 10px;
}
h1 {
    padding-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.ticket_item_input_area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.ticket_item_input_area form {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
}
.ticket_item_input_area form:first-child {
    width: 60%;
    align-items: stretch;
    overflow: hidden;
}
.ticket_item_input_area form:last-child {
    width: 37%;
}
.ticket_item_input_area form:first-child .form-group {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.toast-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.toast {
    backdrop-filter: none;
    opacity: 1;
    visibility: visible;
}
.detail_mpr_info_inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.detail_mpr_info_inner_info {
    width: 30%;
}
.detail_mpr_info_inner_table {
    width: 40%;
}
.detail_mpr_info_inner_image {
    width: 30%;
}
.mpr_info_table td {
    vertical-align: middle;
}
.add_new_mpr_service_row {
    width: 100%;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    margin: 0;

}
.mpr_action > div {
    float: right;
}
.mpr_action .pull-right a {
    margin-left: 15px;
}
p.text-small {
    display: inline-block;
    width: 100%;
    border: 1px solid red;
    padding: 40px 30px;
}
#del-button{display: inline-block; float: right;}
.form-check{float: right;margin-left: 15px;}
/* ----END----- Ticket ----END----- */

/* ----START----- Login ----START----- */
.main_login_container {
    margin-top: 15vh;
}
/* ----END----- Login ----END----- */




/* ----START----- Header ----START----- */
.collapse.navbar-collapse {
    justify-content: space-between;
}
.navbar-brand img {
    width: 97px;
}
.navbar-brand > a {
    width: 300px;
}
.navbar_logo_menu_container {
    width: 700px;
}
/* ----END----- Header ----END----- */



/* ----START----- otchet ----START----- */
/*#period input{display: none;}*/
.green-select{color: #28a745;}
.green-select:hover{color: #208838;}
.col-user-20{width: 20%;}
.col-user-25{width: 25%;}
.table-item-line:hover{background: #eee;}
.table-hdr{background: #eee;padding: 10px;font-weight: bold;}
.table-item{padding: 5px 10px;}
.total-count{border: 1px solid #aaa;margin: 30px auto;}
.total-count .table-hdr{font-weight: normal;}
.total-count .table-item{border-top: 1px solid #aaa;}
.total-count .table-hdr, .total-count .table-item{border-right: 1px solid #aaa;}
.total-count .table-hdr:last-child, .total-count .table-item:last-child{border-right: unset;}
.tab-content{border: 1px solid #eee;border-top: unset;padding: 16px;max-height: 350px;overflow: scroll;overflow-x: auto;}
.conf-1{margin-bottom: 30px;}
.conf-1 h1{margin-bottom: 30px;}
.conf-1 label{display: contents;}
.conf-1 .col{margin-top: 5px;}
/* ----END----- otchet ----END----- 

/* //..07.01.2021 Стили модального окна */
/* The Modal (background) */
.modalMPW {display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(255,255,255);background-color: rgba(255,255,255,0.8);z-index: 110;}
/* Modal Content */
.modalMPW-content {display: inline-block;position: relative;background: transparent;min-width: 100%;width: auto;padding: 20px;border: 1px solid #888;}
/* The Close Button */
.modalMPW-content i {position: relative;top: 0;right: 0;margin: 0 0 10px 10px;color: #ff0000;opacity: 1;font-size: 1.5rem;}
.modalMPW-content i:hover, .modalMPW-content i:focus {color: #ff3000;text-decoration: none;cursor: pointer;}
/* Main div */
.sizeCharts{width: auto;margin: auto;}
.sizeCharts table{margin: auto;display: inline-block;}
.sizeCharts table td{font-size: .8rem;}
/* Стили модального окна конец */

/* //..07.01.2021 Стили таблиц */
.w200{min-width: 200px;}
.w240{min-width: 240px;}
.AC{text-align: center;}
.cell{font-size: 12px;}
.table-container .row{margin-right: -5px;margin-left: -5px;}
.table-container .col, .table-container .col-1, .table-container .col-10, .table-container .col-11, .table-container .col-12, .table-container .col-2, .table-container .col-3, .table-container .col-4, .table-container .col-5, .table-container .col-6, .table-container .col-7, .table-container .col-8, .table-container .col-9, .table-container .col-auto, .table-container .col-lg, .table-container .col-lg-1, .table-container .col-lg-10, .table-container .col-lg-11, .table-container .col-lg-12, .table-container .col-lg-2, .table-container .col-lg-3, .table-container .col-lg-4, .table-container .col-lg-5, .table-container .col-lg-6, .table-container .col-lg-7, .table-container .col-lg-8, .table-container .col-lg-9, .table-container .col-lg-auto, .table-container .col-md, .table-container .col-md-1, .table-container .col-md-10, .table-container .col-md-11, .table-container .col-md-12, .table-container .col-md-2, .table-container .col-md-3, .table-container .col-md-4, .table-container .col-md-5, .table-container .col-md-6, .table-container .col-md-7, .table-container .col-md-8, .table-container .col-md-9, .table-container .col-md-auto, .table-container .col-sm, .table-container .col-sm-1, .table-container .col-sm-10, .table-container .col-sm-11, .table-container .col-sm-12, .table-container .col-sm-2, .table-container .col-sm-3, .table-container .col-sm-4, .table-container .col-sm-5, .table-container .col-sm-6, .table-container .col-sm-7, .table-container .col-sm-8, .table-container .col-sm-9, .table-container .col-sm-auto, .table-container .col-xl, .table-container .col-xl-1, .table-container .col-xl-10, .table-container .col-xl-11, .table-container .col-xl-12, .table-container .col-xl-2, .table-container .col-xl-3, .table-container .col-xl-4, .table-container .col-xl-5, .table-container .col-xl-6, .table-container .col-xl-7, .table-container .col-xl-8, .table-container .col-xl-9, .table-container .col-xl-auto{padding-right: 5px;padding-left: 5px;}
.header-container span{font-size: 1.3rem;color: #666;}
.RS-table{margin: 10px auto 20px;}
.RS-table .one-line{border: 1px solid #444;border-bottom: unset;background: rgb(239 239 239 / 70%);}
.RS-table .one-line:last-child{border-bottom: 1px solid #444;}
.bdt{border-top: 1px solid #444;}
.h100{height: 100%;}
.one-line{display: flex;}
.one-line .col-left{width: 100px; text-align: center;border-right: 1px solid #444;overflow-wrap: anywhere;}
.one-line .align-left{text-align: left;}
.one-line .col-left:last-child{border-right: none;}
.one-line .col-left p{margin: 0;}
.table-container h6 span{color: #777;}
.table-container .pdud{padding: 3px 0;}
.table-container .dscr{font-size: 1rem;}
.table-container .prop{font-size: 0.9rem;}
.rs-detail-image{max-width: 126px;height: auto;}
.center_text{text-align: center;}
.bd{font-weight: bold;}

/* //..12.01.2021 */
.report-table:hover{background: rgb(206 206 206 / 70%);cursor: pointer;}
/* Стили таблиц конец */