/*
http://www.colorcombos.com/combotester.html
*/
body {
	color: #01243B;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: #fff;
	direction: ltr;
}

a,a:visited {
	color: #0066cc;
	text-decoration: none;
}

a:hover {
	color: #0066cc;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

fbody,table td,select,button {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: 14px;
}

pre {
	font-family: "courier new", courier;
	font-size: 14px;
}

.simple-list li {
	list-style-type: none; /* Убираем маркеры */
}

.simple-list ul {
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
	padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.home-content {
	margin: 0px;
	width: 100%;
	border: none;
	border-spacing: 0;
}

.home-cell {
	padding: 20px;
	display: block;
	background: white;
	-webkit-box-shadow: 0 2px 4px #8e8f93;
	-moz-box-shadow: 0 2px 4px #8e8f93;
	box-shadow: 0 2px 4px #8e8f93; "
	width: 100%;
}

.gwt-Reference-clean {
	height: 5px;
	width: 5px;
	zoom: 1;
}

.gwt-Button {
	margin: 0;
	padding: 5px 7px;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	font-size: 15px;
	background: url("images/hborder.png") repeat-x 0px -2077px;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.gwt-Button:active {
	border: 1px inset #ccc;
}

.gwt-Button:hover {
	border-color: #939393;
}

.gwt-Button[disabled] {
	cursor: default;
	color: #888;
}

.gwt-Button[disabled]:hover {
	border: 1px outset #ccc;
}

.gwt-CheckBox {
	
}

.gwt-CheckBox-disabled {
	color: #888;
}

.dateBoxPopup {
	z-index: 10;
}

.gwt-DialogBox {
	padding: 0px;
	border: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.gwt-DialogBox .Caption {
	background: #dddddd;
	padding: 4px 8px 4px 4px;
	cursor: default;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-weight: bold;
	border: 1px outset #b0b0b0;
	text-align: center;
	-webkit-box-shadow: 0 2px 4px #8e8f93;
	-moz-box-shadow: 0 2px 4px #8e8f93;
	box-shadow: 0 2px 4px #8e8f93;
}

.gwt-DialogBox .CaptionTool TD {
	padding-right: 1px;
}

.gwt-DialogBox .dialogContent {
	border: 1px outset #b0b0b0;
	background: #F5F5F5;
	padding: 8px;
	-webkit-box-shadow: 0 2px 4px #8e8f93;
	-moz-box-shadow: 0 2px 4px #8e8f93;
	box-shadow: 0 2px 4px #8e8f93;
}

.dialog-buttons {
	margin-top: 7px;
}

.dialog-buttons table {
	float: right;
}

.dialog-buttons table td {
	padding: 5px 0px 5px 25px;
}

.dialog-buttons button {
	background: #F0F0F0;
	-webkit-box-shadow: 0 1px 2px #8e8f93;
	-moz-box-shadow: 0 1px 2px #8e8f93;
	box-shadow: 0 1px 2px #8e8f93;
}

.dialog-buttons button:hover {
	background: #FFFFFF;
	-webkit-box-shadow: 0 2px 4px #8e8f93;
	-moz-box-shadow: 0 2px 4px #8e8f93;
	box-shadow: 0 2px 4px #8e8f93;
}

.gwt-DialogBox .dialogMiddleCenter {
	background: white;
}

.gwt-DialogBox .dialogBottomCenter {
	
}

.gwt-DialogBox .dialogMiddleLeft {
	
}

.gwt-DialogBox .dialogMiddleRight {
	
}

.gwt-DialogBox .dialogTopLeftInner {
	width: 10px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
	width: 12px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
	width: 10px;
	height: 12px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
	width: 12px;
	height: 12px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
	background: url(images/circles.png) no-repeat -20px 0px;
	-background: url(images/circles_ie6.png) no-repeat -20px 0px;
}

.gwt-DialogBox .dialogTopRight {
	background: url(images/circles.png) no-repeat -28px 0px;
	-background: url(images/circles_ie6.png) no-repeat -28px 0px;
}

.gwt-DialogBox .dialogBottomLeft {
	background: url(images/circles.png) no-repeat 0px -36px;
	-background: url(images/circles_ie6.png) no-repeat 0px -36px;
}

.gwt-DialogBox .dialogBottomRight {
	background: url(images/circles.png) no-repeat -8px -36px;
	-background: url(images/circles_ie6.png) no-repeat -8px -36px;
}

* html .gwt-DialogBox .dialogTopLeftInner {
	width: 10px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
	width: 12px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
	width: 10px;
	height: 12px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
	width: 12px;
	height: 12px;
	overflow: hidden;
}

.gwt-DisclosurePanel {
	
}

.gwt-DisclosurePanel-open {
	
}

.gwt-DisclosurePanel-closed {
	
}

.gwt-DisclosurePanel .header,.gwt-DisclosurePanel .header a,.gwt-DisclosurePanel .header td
	{
	text-decoration: none; /* Remove underline from header */
	color: black;
	cursor: pointer;
	cursor: hand;
}

.gwt-DisclosurePanel .content {
	border-left: 3px solid #e7e7e7;
	padding: 4px 0px 4px 8px;
	margin-left: 6px;
}

.gwt-FileUpload {
	width: 97%;
	margin: 0;
	padding: 3px;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	font-size: 15px;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.gwt-Frame {
	border: none;
}

.gwt-HorizontalSplitPanel {
	
}

.gwt-HorizontalSplitPanel .hsplitter {
	cursor: move;
	border: 0px;
	background: #e7e7e7;
	line-height: 0px;
}

.gwt-VerticalSplitPanel {
	
}

.gwt-VerticalSplitPanel .vsplitter {
	cursor: move;
	border: 0px;
	background: #e7e7e7;
	line-height: 0px;
}

.gwt-HTML {
	padding: 0 0px;
}

.gwt-Hyperlink {
	
}

.gwt-Image {
	
}

.gwt-Label {
	
}

.gwt-ListBox {
	background: white;
}

.gwt-PasswordTextBox {
	padding: 2px 2px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: 14px;
	font-family: Arial Unicode MS, Arial, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
}

.gwt-PasswordTextBox-readonly {
	color: #888;
}

.gwt-PopupPanel {
	border: 3px solid #e7e7e7;
	padding: 3px;
	background: white;
}

.gwt-DecoratedPopupPanel .popupContent {
	
}

.gwt-DecoratedPopupPanel .popupMiddleCenter {
	padding: 3px;
	background: #f1f1f1;
}

.gwt-DecoratedPopupPanel .popupTopCenter {
	
}

.gwt-DecoratedPopupPanel .popupBottomCenter {
	
}

.gwt-DecoratedPopupPanel .popupMiddleLeft {
	
}

.gwt-DecoratedPopupPanel .popupMiddleRight {
	
}

.gwt-DecoratedPopupPanel .popupTopLeftInner {
	width: 6px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupTopRightInner {
	width: 6px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupBottomLeftInner {
	width: 6px;
	height: 6px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupBottomRightInner {
	width: 6px;
	height: 6px;
	zoom: 1;
}

.gwt-DecoratedPopupPanel .popupTopLeft {
	background: url(images/circles.png) no-repeat 0px -16px;
	-background: url(images/circles_ie6.png) no-repeat 0px -16px;
}

.gwt-DecoratedPopupPanel .popupTopRight {
	background: url(images/circles.png) no-repeat -6px -16px;
	-background: url(images/circles_ie6.png) no-repeat -6px -16px;
}

.gwt-DecoratedPopupPanel .popupBottomLeft {
	background: url(images/circles.png) no-repeat 0px -21px;
	-background: url(images/circles_ie6.png) no-repeat 0px -21px;
}

.gwt-DecoratedPopupPanel .popupBottomRight {
	background: url(images/circles.png) no-repeat -6px -21px;
	-background: url(images/circles_ie6.png) no-repeat -6px -21px;
}

* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
	width: 6px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupTopRightInner {
	width: 6px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
	width: 6px;
	height: 6px;
	overflow: hidden;
}

* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
	width: 6px;
	height: 6px;
	overflow: hidden;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity =                                          
		                                                         
		                                                         
		                                                                    
		                                 30);
}

.gwt-PushButton-up,.gwt-PushButton-up-hovering,.gwt-PushButton-up-disabled,.gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled
	{
	margin: 0;
	text-decoration: none;
	background: url("images/hborder.png") repeat-x 0px -27px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.gwt-PushButton-up,.gwt-PushButton-up-hovering,.gwt-PushButton-up-disabled
	{
	padding: 3px 5px 3px 5px;
}

.gwt-PushButton-up {
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-up-hovering {
	border: 1px solid;
	border-color: #939393;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-up-disabled {
	border: 1px solid #bbb;
	cursor: default;
	opacity: .5;
	filter: alpha(opacity =                                          
		                                                         
		                                                         
		                                                                    
		                                 45);
	zoom: 1;
}

.gwt-PushButton-down,.gwt-PushButton-down-hovering,.gwt-PushButton-down-disabled
	{
	padding: 4px 4px 2px 6px;
	outline: none;
}

.gwt-PushButton-down {
	border: 1px inset #666;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-down-hovering {
	border: 1px solid #939393;
	border-top: 1px solid #333333;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-down-disabled {
	border: 1px outset #ccc;
	cursor: default;
	opacity: 0.5;
	filter: alpha(opacity =                                          
		                                                         
		                                                         
		                                                                    
		                                 45);
	zoom: 1;
}

.gwt-RadioButton {
	
}

.gwt-RadioButton-disabled {
	color: #888;
}

.gwt-SuggestBox {
	padding: 5px 4px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: 100%;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.gwt-SuggestBoxPopup {
	
}

.gwt-SuggestBoxPopup .item {
	padding: 2px 6px;
	color: #000;
	cursor: default;
	font-size: 110%;
}

.gwt-SuggestBoxPopup .item-selected {
	background: #D5E2FF;
}

.gwt-SuggestBoxPopup .suggestPopupContent {
	background: white;
}

.gwt-SuggestBoxPopup .suggestPopupTopCenter {
	border-top: 1px solid #bbb;
}

.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
	border-bottom: 1px solid #bbb;
}

.gwt-SuggestBoxPopup .suggestPopupTopCenterInner,.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner
	{
	height: 1px;
	line-height: 1px;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
	border-left: 1px solid #bbb;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
	border-right: 1px solid #bbb;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner,.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner
	{
	width: 1px;
	line-height: 1px;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
	width: 0px;
	height: 0px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
	width: 0px;
	height: 0px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
	width: 0px;
	height: 0px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
	width: 0px;
	height: 0px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeft {
	background: url(images/circles.png) no-repeat 0px -6px;
	-background: url(images/circles_ie6.png) no-repeat 0px -6px;
	width: 5px;
	height: 5px;
}

.gwt-SuggestBoxPopup .suggestPopupTopRight {
	background: url(images/circles.png) no-repeat -5px -6px;
	-background: url(images/circles_ie6.png) no-repeat -5px -6px;
	width: 5px;
	height: 5px;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
	background: url(images/circles.png) no-repeat 0px -11px;
	-background: url(images/circles_ie6.png) no-repeat 0px -11px;
	width: 5px;
	height: 5px;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRight {
	background: url(images/circles.png) no-repeat -5px -11px;
	-background: url(images/circles_ie6.png) no-repeat -5px -11px;
	width: 5px;
	height: 5px;
}

* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.gwt-TabBar {
	background: #ccc;
	padding-top: 6px;
}

.gwt-TabBar .gwt-TabBarFirst {
	width: 5px; /* first tab distance from the left */
}

.gwt-TabBar .gwt-TabBarRest {
	
}

.gwt-TabBar .gwt-TabBarItem {
	margin-left: 4px;
	padding: 4px 8px 4px 8px;
	cursor: pointer;
	cursor: hand;
	color: white;
	font-weight: normal;
	text-align: center;
	background: #8E8E8E;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	cursor: default;
	background: white;
	color: #333;
	font-weight: bold;
}

.gwt-TabBar .gwt-TabBarItem-disabled {
	cursor: default;
	color: #999999;
}

.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	border-color: #ccc;
	border-style: solid;
	border-width: 0px 1px 1px;
	overflow: hidden;
	padding: 6px;
}

.gwt-DecoratedTabBar {
	background: #ccc;
	padding-top: 6px;
}

.gwt-DecoratedTabBar .gwt-TabBarFirst {
	width: 5px; /* first tab distance from the left */
}

.gwt-DecoratedTabBar .gwt-TabBarRest {
	
}

.gwt-DecoratedTabBar .gwt-TabBarItem {
	border-collapse: collapse;
	margin-left: 4px;
}

.gwt-DecoratedTabBar .tabTopCenter {
	padding: 0px;
	background: #8E8E8E;
}

.gwt-DecoratedTabBar .tabTopLeft,.gwt-DecoratedTabBar .tabTopRight {
	padding: 0px;
	zoom: 1;
}

.gwt-DecoratedTabBar .tabTopLeftInner,.gwt-DecoratedTabBar .tabTopRightInner
	{
	width: 3px;
	height: 3px;
}

.gwt-DecoratedTabBar .tabTopLeft {
	background: url(images/circles.png) no-repeat 0px 0px;
	-background: url(images/circles_ie6.png) no-repeat 0px 0px;
}

.gwt-DecoratedTabBar .tabTopRight {
	background: url(images/circles.png) no-repeat -3px 0px;
	-background: url(images/circles_ie6.png) no-repeat -3px 0px;
}

* html .gwt-DecoratedTabBar .tabTopLeftInner,* html .gwt-DecoratedTabBar .tabTopRightInner
	{
	width: 3px;
	height: 3px;
	overflow: hidden;
}

.gwt-DecoratedTabBar .tabMiddleLeft,.gwt-DecoratedTabBar .tabMiddleRight
	{
	width: 3px;
	padding: 0px;
	background: #8E8E8E;
}

.gwt-DecoratedTabBar .tabMiddleLeftInner,.gwt-DecoratedTabBar .tabMiddleRightInner
	{
	width: 1px;
	height: 1px;
}

.gwt-DecoratedTabBar .tabMiddleCenter {
	padding: 0px 5px 4px 5px;
	cursor: pointer;
	cursor: hand;
	color: #fff;
	font-weight: normal;
	text-align: center;
	background: #8E8E8E;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
	background: #fff;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
	background: url(images/circles.png) no-repeat -6px 0px;
	-background: url(images/circles_ie6.png) no-repeat -6px 0px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
	background: url(images/circles.png) no-repeat -9px 0px;
	-background: url(images/circles_ie6.png) no-repeat -9px 0px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight
	{
	background: #fff;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
	cursor: default;
	background: #fff;
	color: #333;
	font-weight: bold;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
	cursor: default;
	color: #999999;
}

.gwt-TextArea {
	padding: 4px;
	border: 1px solid #ccc;
	border-top: 1px solid #666;
	font-size: 100%;
	font-family: Arial Unicode MS, Arial, sans-serif;
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
}

.gwt-TextArea-readonly {
	color: #888;
}

.gwt-TextBox {
	padding: 2px 2px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: 14px;
	font-family: Arial Unicode MS, Arial, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
}

.gwt-TextBox-readonly {
	color: #888;
}

.gwt-ToggleButton-up,.gwt-ToggleButton-up-hovering,.gwt-ToggleButton-up-disabled,.gwt-ToggleButton-down,.gwt-ToggleButton-down-hovering,.gwt-ToggleButton-down-disabled
	{
	margin: 0;
	text-decoration: none;
	background: url("images/hborder.png") repeat-x 0px -27px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.gwt-ToggleButton-up,.gwt-ToggleButton-up-hovering,.gwt-ToggleButton-up-disabled
	{
	padding: 3px 5px 3px 5px;
}

.gwt-ToggleButton-up {
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-up-hovering {
	border: 1px solid;
	border-color: #939393;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-up-disabled {
	border: 1px solid #bbb;
	cursor: default;
	opacity: .5;
	zoom: 1;
	filter: alpha(opacity =                                          
		                                                         
		                                                         
		                                                                    
		                                 45);
}

.gwt-ToggleButton-down,.gwt-ToggleButton-down-hovering,.gwt-ToggleButton-down-disabled
	{
	padding: 4px 4px 2px 6px;
}

.gwt-ToggleButton-down {
	background-position: 0 -513px;
	border: 1px inset #666;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-down-hovering {
	background-position: 0 -513px;
	border: 1px inset;
	border-color: #9cf #69e #69e #7af;
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-down-disabled {
	background-position: 0 -513px;
	border: 1px inset #ccc;
	cursor: default;
	opacity: .5;
	zoom: 1;
	filter: alpha(opacity =                
		                                                         
		                                                         
		                                                                    
		        45);
}

.gwt-DateBox {
	padding: 2px;
	border: 1px solid #ccc;
	font-size: 11pt;
	width: 180px;
	color: #01243B;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
}

.gwt-DateBox input {
	width: 8em;
	padding: 0px;
}

.dateBoxFormatError {
	background: #ffcccc;
}

.dateBoxPopup {
	
}

.gwt-DatePicker {
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	cursor: default;
	width: 100%;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
	outline: none;
}

.datePickerDays {
	width: 100%;
	background: white;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-size: 85%;
	text-align: center;
	padding: 4px;
	outline: none;
	font-weight: bold;
	color: #333;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	background: #fff;
	padding: 0px 4px 2px;
	cursor: default;
	color: #666;
	font-size: 70%;
	font-weight: normal;
}

.datePickerDay {
	padding: 4px 7px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsWeekend {
	background: #f7f7f7;
}

.datePickerDayIsFiller {
	color: #999;
	font-weight: normal;
}

.datePickerDayIsValue {
	background: #d7dfe8;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
	background: #d7dfe8;
}

.datePickerDayIsToday {
	padding: 3px;
	color: #fff;
	background: url(images/hborder.png) repeat-x 0px -2607px;
}

.datePickerMonthSelector {
	width: 100%;
	padding: 1px 0 5px 0;
	background: #fff;
}

td.datePickerMonth {
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}

.datePickerPreviousButton,.datePickerNextButton {
	font-size: 120%;
	line-height: 1em;
	color: #3a6aad;
	cursor: hand;
	cursor: pointer;
	font-weight: bold;
	padding: 0px 4px;
	outline: none;
}

.gwt-StackLayoutPanel {
	border-bottom: 1px solid #bbbbbb;
	max-width: 220px;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
	font-size: 1.3em;
	padding: 3px;
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: #d3def6 url(images/hborder.png) repeat-x 0px -989px;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader-hovering {
	background: #d3def6;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
	border: 1px solid #bbbbbb;
	border-bottom: 0px;
	background: white;
	padding: 2px 2px 10px 5px;
}

.gwt-TabLayoutPanel {
	
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	background: #ccc;
	padding-top: 6px;
	padding-left: 5px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
	border-color: #ccc;
	border-style: solid;
	border-width: 0px 1px 1px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	overflow: hidden;
	padding: 0px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	margin-left: 4px;
	padding: 4px 8px 4px 8px;
	cursor: pointer;
	cursor: hand;
	color: white;
	font-weight: normal;
	text-align: center;
	background: #8E8E8E;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	cursor: default;
	background: white;
	color: #333;
	font-weight: bold;
}

.gwt-SplitLayoutPanel-HDragger {
	background: #e7e7e7;
	cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
	background: #e7e7e7;
	cursor: row-resize;
	border-left: none;
	border-right: none;
}

.dialog-title {
	background: #e7e7e7;
	cursor: row-resize;
	text-align: center;
}

.error-text {
	color: red;
}

.error-border {
	border: 1px solid red;
}

.base-panel {
	background-color: #f1f1f1;
}

.menu-panel {
	background-color: #f1f1f1;
}

.ad-panel {
	background-color: green;
}

.content-panel {
	background-color: #f1f1f1;
}

.xAnchor {
	padding: 0;
	border: none;
	color: #0066cc;
	text-decoration: none;
}

.xAnchor:hover {
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.xAnchor .img {
	padding: 4px 2px 3px 2px;
	border: none;
}

.xAnchor .img IMG {
	margin: 0;
	display: block;
	border: none;
}

.xAnchor .text {
	margin: 0;
	font-size: 12pt;
	padding: 1px 2px 3px 2px;
	border: none;
}

.numberSpinner {
	margin: 0;
	padding: 0px;
}

.numberSpinner {
	margin: 0px;
	overflow: hidden;
}

.numberSpinner INPUT {
	margin: 0px;
	padding: 2px 2px;
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	font-size: 14px;
	font-family: Arial Unicode MS, Arial, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
}

.numberSpinner .img {
	padding: 2px 2px 2px 2px;
}

.numberSpinner .xButton {
	padding: 0px 0px 0px 3px;
}

.numberSpinner .img IMG {
	margin: 0;
	display: block;
}

.xButton {
	margin: 0;
	padding: 0px;
	cursor: pointer;
	cursor: hand;
	background: #F1F1F1;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.xButton .img {
	margin: 0;
	padding: 2px 2px 0px 2px;
	display: block;
	vertical-align: middle;
}

.xButton .text {
	margin: 0;
	padding: 2px 2px 6px 2px;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
}

.stackMenu {
	border-bottom: 1px outset #FEFEFE;
	margin-left: auto;
	margin-right: auto;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.stackMenu .item {
	cursor: pointer;
	cursor: hand;
	padding: 0px;
	border: 1px outset #FEFEFE;
	background: #EAEAEA;
}

.stackMenu  .item:hover {
	background: #FEFEFE;
}

.stackMenu .itemImg {
	padding: 3px 5px 5px 12px;
	border-left: 1px outset #F1F1F1;
	border-top: 2px outset #F1F1F1;
	border-bottom: 2px outset #F1F1F1;
	border-right: 0px;
	width: 28px;
}

.stackMenu .itemImg IMG {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.stackMenu .itemText {
	font-weight: bold;
	font-size: 18px;
	padding: 0px 0px 2px 0px;
	border-right: 1px outset #F1F1F1;
	border-top: 2px outset #F1F1F1;
	border-bottom: 2px outset #F1F1F1;
	border-left: 0px;
}

.stackMenu .content {
	border: 1px outset #FEFEFE;
	border-bottom: 0px;
	padding: 0px;
	font-size: 14px;
}

.stackMenu .content  DIV {
	background: #FEFEFE;
	padding: 8px;
}

.stackMenu  .logo {
	cursor: pointer;
	cursor: hand;
	padding: 0px;
	bottom: 0px;
}

.stackMenu  img {
	margin: 0px;
	border: none;
	display: block;
	border: 1px outset #FEFEFE;
}

.stackMenu .info TABLE {
	border: 1px outset #FEFEFE;
	background: #F1F1F1;
	width: 100%;
}

.stackMenu .info TABLE TD {
	padding: 2px 1px 3px 4px;
}

.stackMenu .info IMG {
	margin: 0px;
	border: none;
	display: block;
	border: 0px;
}

.stackMenu .author {
	cursor: pointer;
	cursor: hand;
}

.stackMenu .author TD {
	text-align: center;
	font-size: 16px;
	color: #0066cc;
	padding-bottom: 4px;
	border: 1px outset #FEFEFE;
}

.stackMenu .author TD:hover {
	text-decoration: underline;
}

.stackMenu  .field-panel {
	padding: 0px;
}

.cost-table TD {
	font-size: 12px;
}

.cost-table TD .gwt-Label {
	padding: 2px;
}

.field-panel {
	padding: 6px;
}

.field-panel-label {
	font-weight: bold;
}

.field-panel  TD {
	
}

.field-enable {
	text-align: center;
	padding: 1px 2px 1px 2px;
}

.field-label {
	text-align: left;
	vertical-align: top;
	padding: 5px 2px 1px 2px;
}

.field-widget {
	padding: 1px 2px 1px 2px;
}

.field-desc {
	text-align: left;
	vertical-align: top;
	padding: 5px 2px 1px 2px;
}

.field-both-widget {
	
}

.field-both-label {
	font-weight: bold;
	text-align: left;
}

.tool-panel {
	background-color: #ccc;
	border: 1px outset #eeeeee;
}

.tool-panel TD {
	padding: 2px 5px 0px 5px;
}

.tool-panel-label {
	font-size: 13pt;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
}

.profile-toolbar {
	padding: 0px;
}

.profile-toolbar TD {
	padding: 1px 1px 0px 1px;
}

.profile-label {
	font-size: 11pt;
	font-weight: bold;
	padding: 0px 1px 0px 1px;
}

.profile-toolbar {
	padding: 0px;
	margin: 0px;
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;
}

.profile-toolbar .xAnchor .img {
	padding: 3px 0px 3px 2px;
}

.profile-toolbar .gwt-ListBox {
	font-size: 9pt;
	padding: 0px;
	margin: 2px 0px 1px 0px;
}

.project-fields {
	border: 1px outset #eeeeee;
	padding: 0px 3px 3px 3px;
}

.project-fields TD {
	padding: 0px 3px 0px 3px;
}

.table-grid {
	
}

.table-grid .thead {
	
}

.table-grid .thead td {
	border: 1px outset #eeeeee;
	background: #eeeeee;
	text-align: center;
	font-size: 11pt;
	font-weight: bold;
	padding: 1px 2px 1px 2px;
	word-wrap: normal;
	white-space: nowrap;
}

.table-grid .thead .sort {
	border: none;
	padding: 0px;
	margin: 0px;
	margin: auto;
}

.table-grid .thead .sort TD {
	border: none;
	padding: 0px;
	margin: 0px;
}

.table-grid .thead .sort TD:first-child {
	vertical-align: middle;
}

.table-grid .refresh {
	border: 1px outset #eeeeee;
	background: #eeeeee;
	cursor: pointer;
	cursor: hand;
	padding: 0px;
	margin: 0px;
}

.table-grid .num {
	border: 1px outset #eeeeee;
	color: #01243B;
	background: #eeeeee;
	opacity: 1.0;
	text-align: center;
	font-size: 11pt;
	font-weight: bold;
	padding: 0px 2px 2px 2px;
}

.table-grid .row {
	background: #ffffff;
}

.table-grid .cell {
	border-right: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	border-left: none;
	border-top: none;
	font-size: 11pt;
}

.table-grid .cell-icon {
	margin: 0px;
	border: none;
}

.table-grid .cell-icon TD {
	padding: 0px 1px 0px 1px;
}

.table-grid .cell-icon IMG {
	margin: 0px;
	border: none;
	display: block;
}

.table-grid .select-row {
	background: #bbdeff;
}

.table-grid .hit-row {
	color: DarkGreen;
}

.table-grid .current-row TD:FIRST-CHILD {
	color: #006688;
}

.table-grid .select-cell {
	border: 2px groove #eeeeee;
}

.input-number {
	text-align: right;
	border: 0px;
	margin: 0px;
	padding: 2px 1px 1px 1px;
	font-size: 14px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
}

.input-button {
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	border: 1px outset #eeeeee;
	background: #eeeeee;
}

.input-string {
	text-align: left;
	border: 0px;
	margin: 0px;
	padding: 2px 1px 1px 1px;
	font-size: 14px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
}

.input-lookup {
	text-align: left;
	border: 0px;
	margin: 0px;
	padding: 0px 1px 0px 1px;
	font-size: 14px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
}

.draw-pattern {
	border: 1px solid red;
}

.nestingStat {
	
}

.nestingStat td {
	padding: 1px;
	font-size: 14px;
	border: 1px outset #eeeeee;
	background: #eeeeee;
}

.nestingStat .xAnchor .img {
	margin: 0;
	padding: 0px 1px 0px 5px;
	border: none;
	display: block;
}

.part-info {
	background: white;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.part-info TD {
	padding: 2px 4px 2px 4px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.part-info TD:FIRST-CHILD {
	text-align: right;
	word-wrap: normal;
	white-space: nowrap;
}

.part-info TD:LAST-CHILD {
	text-align: left;
}

.pattern-panel {-moz-user-select =none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-user-select: none;
	user-select: none;
}

.help-table {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
}

.help-table tr td:last-child {
	white-space: nowrap;
}

.help-table td {
	padding: 4px;
	border-bottom: 1px solid #bbb;
	border-right: 1px solid #bbb;
}

.help-table IMG {
	display: block;
	border: none;
	margin: 0px;
}

.help-table-header {
	font-weight: bold;
}

.catalog-content {
	
}

.catalog-tree {
	background: white;
}

.catalog-image {
	text-align: center;
	padding: 4px;
}

.catalog-image img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.catalog-type {
	padding: 2px 10px 0px 0px;
	font-weight: bold;
	font-size: 12pt;
}

.border-inner {
	border: 1px solid #cccccc;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.border-panel {
	border: 1px outset #eeeeee;
}

.border-panel-inner {
	border: 1px outset #eeeeee;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.tab-toolbar {
	border: 0px;
	margin: 0px;
	padding: 0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.tab-toolbar TD IMG {
	border: 0px;
	margin: 0px 6px 0px 2px;
	padding: 0px;
	display: block;
}

.toolbar {
	margin-right: 4px;
}

.toolbar TD {
	padding: 1px 3px 1px 3px;
}

.toolbar TD .text {
	padding-top: 3px;
}

.toolbar TD .gwt-Image {
	margin-top: 3px;
	display: block;
}

.toolbar .xAnchor .text {
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
}

.split-selection {
	
}

.split-selection img {
	border: 0px;
	margin: 1px 6px 0px 6px;
	padding: 0px;
	display: block;
}

.operation-panel {
	border-top: 1px solid #ccc;
}

.merge-current table {
	border: 1px outset #eeeeee;
	background: #eeeeee;
	font-weight: bold;
}

.merge-current img {
	border: 0px;
	margin: 1px 6px 0px 6px;
	padding: 0px;
	display: block;
}

.folder-panel {
	border: 1px outset #eeeeee;
}

.folder-panel TD {
	padding: 2px 8px 1px 4px;
}

.folder-panel .xAnchor {
	padding: 4px 0px 2px 0px;
}

.folder-panel a {
	padding: 0px 4px 0px 4px;
	font-size: 11pt;
	font-weight: bold;
}

.draw-tree {
	padding: 1px 0px;
	margin: 0px;
	white-space: normal;
	cursor: hand;
	cursor: pointer;
}

.draw-tree IMG {
	margin: 0;
	padding-right: 4px;
	display: block;
}

.draw-tree .gwt-TreeItem {
	margin: 0;
	padding: 0;
}

.draw-tree .gwt-TreeItem TABLE {
	padding: 2px 4px 2px 4px;
	white-space: nowrap;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

.draw-tree .gwt-TreeItem-selected TABLE {
	padding: 2px 4px 2px 4px;
	white-space: nowrap;
	border: solid 1px #00CCFF;
}

.draw-tree .gwt-multy-selected TABLE {
	background: #00CCFF;
	padding: 2px 4px 2px 4px;
	white-space: nowrap;
	border: solid 1px #00CCFF;
}

.expr-value {
	margin-left: 4px;
	font-size: 10pt;
	white-space: nowrap;
}
/*
TREE
*/
.gwt-Tree .gwt-TreeItem {
	padding: 1px 0px;
	margin: 0px;
	white-space: normal;
	cursor: hand;
	cursor: pointer;
}

.gwt-Tree .gwt-TreeItem-selected {
	background: #00CCFF;
}

.gwt-TreeItem .gwt-RadioButton input,.gwt-TreeItem .gwt-CheckBox input {
	margin-left: 0px;
}

* html .gwt-TreeItem .gwt-RadioButton input,* html .gwt-TreeItem .gwt-CheckBox input
	{
	margin-left: -4px;
}

/*
HELP
*/
.description {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 5px;
}

.syntax {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: monospace;
	white-space: pre;
}

.styles {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.styles a {
	
}

.example {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	font-family: monospace;
	white-space: pre;
}

.childrens {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	font-family: monospace;
	white-space: pre;
}

/*
 * attributes
 */
.attribute {
	width: 5%;
	text-align: left;
	vertical-align: top;
}

.attributes {
	width: 100%;
	border-collapse: collapse;
}

.attributes td {
	padding: 4px;
	border: 1px solid #000;
}

/*.attributes td:nth-of-type(3) {
	text-align: center;
}*/
.attributes th {
	padding: 4px;
	border: 1px solid #000;
}

.att_name {
	width: 5%;
	vertical-align: top;
}

.att_required {
	width: 5%;
	vertical-align: top;
}

.att_type {
	width: 5%;
	vertical-align: top;
}

.att_description {
	width: 100%;
	vertical-align: top;
}

.page_content {
	padding: 10px;
	font-size: 12pt;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.page_content li {
	margin-bottom: 5px;
}

.page_content td {
	font-size: 12pt;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.page_content li img {
	display: inline;
	padding: 0px;
	margin-right: 10px;
}

.page_content h1 {
	font-size: 24pt;
	margin: 2px 0px 8px 0px;
	color: #0066cc;
}

.page_content h1 img {
	margin-right: 10px;
}

.page_content h2 {
	font-size: 16pt;
	margin: 6px 0px 6px 0px;
}

.page_content h2 img {
	margin-right: 10px;
}

.page_content h3 {
	font-size: 14pt;
	margin: 6px 0px 4px 0px;
}

.page_content h4 {
	font-size: 12pt;
	font-family: sans-serif;
	margin: 6px 0px 2px 0px;
}

.page_content p {
	margin: 4px 0px 6px 0px;
}

.pageMenu {
	border-bottom: 1px outset #FEFEFE;
	border-top: 1px outset #FEFEFE;
	background: #EAEAEA;
	padding: 0px;
	width: 100%;
	height: 32px;
}

.pageMenu .contantMenu {
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	border: none;
	border-collapse: collapse;
}

.pageMenu .item {
	cursor: pointer;
	cursor: hand;
	padding: 0px 7px 0px 7px;
	background: #EAEAEA;
}

.pageMenu  .item:hover {
	background: #FEFEFE;
}

.pageMenu .itemImg {
	padding: 1px 3px 2px 7px;
	width: 28px;
}

.pageMenu .itemImg IMG {
	border: 0px;
	padding: 0px;
	margin: 0px;
	display: block;
}

.pageMenu .itemText {
	font-weight: bold;
	font-size: 18px;
	padding: 4px 10px 1px 0px;
	border-left: 0px;
	white-space: nowrap;
	font-weight: bold;
}

.pageMenu .select {
	color: #0066cc;
}

.pageMenu  .unselect {
	color: #01243B;
}

/*DL, DT, DD TAGS LIST DATA */
.help-attrs {
	margin-top: 2px;
}

.help-attrs dt {
	font-weight: bold;
	font-size: 13pt;
	text-decoration: underline;
	margin-right: 10px;
	padding: 3px;
}

.help-attrs dd {
	margin: 2px 0 30px 0;
	padding: 3px 0;
}

.drawList {
	
}

.drawList .element {
	display: inline-block;
	text-align: center;
	padding: 6px 8px 2px 8px;
}

.drawList                           . .select {
	background-color: #00CCFF;
	outline: none;
}

.drawList  .index {
	background-color: #00CCFF;
	outline: none;
	border: #0088DD;
}

.drawList .element .label {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 9pt;
	text-align: center;
}

.drawList .element .image {
	text-align: center;
}

.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.XFileUpload:FOCUS {
	outline: 0;
	-moz-outline-style: none;
}

.XFileUpload:HOVER {
	text-decoration: underline;
}

.XFileUpload input:HOVER {
	text-decoration: underline;
}

.loginPanel TD {
	padding-bottom: 10px;
}

.loginPanel .loginForm TD {
	padding: 2px 4px 2px 4px;
}

.loginPanel .xAnchor TD {
	padding-bottom: 0px;
	font-size: 11pt
}

/* part-field-panel */
.part-field-panel {
	padding: 0px 6px 4px 6px;
}

.part-field-panel .field-label {
	text-align: left;
	vertical-align: top;
	padding: 3px 2px 0px 2px;
}

.part-field-panel .field-widget {
	padding: 0px 2px 0px 2px;
}

.part-field-panel .field-panel {
	padding: 0px;
}

.part-field-panel .field-panel .field-label {
	text-align: left;
	vertical-align: top;
	padding: 3px 2px 0px 2px;
}

.part-field-panel .field-panel .field-widget {
	padding: 0px 2px 0px 2px;
}

.part-field-panel .field-panel .field-desc {
	text-align: left;
	vertical-align: top;
	padding: 3px 2px 2px 2px;
}

.gwt-StackPanel {
	border: 3px solid #bbbbbb;
	padding: 0px;
}

.gwt-StackPanel .gwt-StackPanelItem {
	cursor: pointer;
	cursor: hand;
	font-weight: normal;
	font-size: 1.3em;
	padding: 8px;
	border-bottom: 3px solid #bbbbbb;
	background: #8E8E8E;
	color: #FFFFFF;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
	font-weight: bold;
	cursor: default;
	background: #FAFAFA;
	color: #333;
	font-weight: bold;
}

.gwt-StackPanel .gwt-StackPanelContent {
	border-bottom: 0px;
	background: #EFEFEF;
	padding: 2p;
}

#header {
	color: rgb(68, 68, 68);
	height: 68px;
	max-height: 68px;
	background: #EAEAEA;
	border-bottom: 1px outset #FEFEFE;
	border-top: 1px outset #FEFEFE;
	overflow-x: auto;
	/* you may be able to eliminate this see fiddle above */
	overflow-y: hidden; /* and eliminate this */
	white-space: nowrap; /* like DanielB */
}

#contact {
	width: 160px;
	float: right;
	padding: 3px 10px 3px 0px;
	font-size: 16px;
	color: #0066cc;
	white-space: nowrap;
}

#contact p {
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

#contact p img {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 6px 3px 0px;
}

#title {
	clear: left;
	float: left;
	padding: 5px;
	font-size: 26px;
	font-weight: bold;
	font-family: arial, helvetica, sans-serif;
	white-space: nowrap;
}

.divHover {
	position: absolute;
	box-shadow: inset 0 0 15px 3px rgba(0, 102, 204, 0.45);
	-webkit-box-shadow: inset 0 0 15px 3px rgba(0, 102, 204, 0.45);
	-moz-box-shadow: inset 0 0 15px 3px rgba(0, 102, 204, 0.45);
	display: none;
	pointer-events: none;
	z-index: 9999;
}

.screenshot {
	box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.85), 0 0 0px 0px
		rgba(0, 0, 0, 0.25), inset 0 0 15px 1px rgba(0, 102, 204, 0.4);
	-webkit-box-shadow: 0 3px 10px #666;
	-moz-box-shadow: 0 3px 10px #666;
	-webkit-box-shadow: 0 3px 10px #ccc;
	-moz-box-shadow: 0 3px 10px #ccc;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 1s ease;
	z-index: 9999;
}

.download {
	font-size: 14pt;
	vertical-align: middle;
}

.download img {
	vertical-align: middle;
	padding: 0px;
	margin: 0px 10px 0px 0px;
}

.editNestingInfo {
	padding: 0px;
	margin: 0px 20px 0px 0px;
	white-space: nowrap;
}

.editNestingInfo p {
	font-size: 9pt;
	color: red;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

.article-list {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px rgba(0, 102, 204, 0.45) solid;
}

.article-list tr {
	display: block;
	border-bottom: 1px rgba(0, 102, 204, 0.45) solid;
	border-left: 1px rgba(0, 102, 204, 0.45) solid;
	border-right: 1px rgba(0, 102, 204, 0.45) solid;
	min-height: 80px;
}

.article-list tr:hover {
	cursor: pointer;
	cursor: hand;
	box-shadow: inset 0 0 15px 3px rgba(0, 102, 204, 0.45);
	-webkit-box-shadow: inset 0 0 15px 3px rgba(0, 102, 204, 0.45);
	-moz-box-shadow: inset 0 0 15px 3px rgba(0, 102, 204, 0.45);
}

.article-list TD {
	padding: 8px 12px 4px 12px;
	font-size: 18pt;
	font-weight: bold;
	vertical-align: middle;
}

.article-list TD IMG {
	width: 135px;
}

.processor-toolbar {
	width: 100%;
	border-spacing: 4px;
}

.processor-toolbar .gwt-HTML {
	font-size: 1px;
}

.author {
	padding: 8px;
	background: transparent;
}

.author IMG {
	padding-right: 5px;
}

.gwt-RichTextArea {
	
}

.hasRichTextToolbar {
	border: 0px;
}

.gwt-RichTextToolbar {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	border-bottom: 1px solid #BBBBBB;
	padding: 3px;
	margin: 0px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
	padding: 0px 1px 0px 0px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 1px 0px 0px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 1px;
	border-width: 1px;
}

.file-path-focus {
	background: #8e8e8e;
	color: white;
	font-size: 12px;
	border: 1px outset #eeeeee;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 1px 6px 1px 6px;
}

.file-path-blur {
	background: #eeeeee;
	color: black;
	font-size: 12px;
	border: 1px outset #eeeeee;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 1px 6px 1px 6px;
}

.propertiesPanel {
	width: 100%;
}

.propertiesPanel td {
	vertical-align: top;
}

.propertiesPanel .field-panel {
	margin-left: 2px;
	margin-right: 6px;
}



.help-table-center {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	text-align: center;
	vertical-align: top;
}

.help-table-center tr td:first-child {
	font-weight: bold;
}
.help-table-center tr:first-child {
	font-weight: bold;
}

.help-table-center td {
	padding: 4px;
	border-bottom: 1px solid #bbb;
	border-right: 1px solid #bbb;
	text-align: center;
	vertical-align: top;
}

.help-table-center IMG {
	display: block;
	border: none;
	margin: 0px;
}


.header-panel {
	background-color: #eee;
    border: 1px outset #eeeeee;
	border-spacing: 0px;
    border-collapse: separate;
}

.header-panel TD {
	padding: 0px 5px 0px 5px;	
}

.header-panel  .xAnchor .img {
	padding: 0px ;
	border: none;
}

.header-panel-toolBar TD{
	padding-left: 10px;
	white-space:  nowrap ;
}




